* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-weight: bold;
    font-size: 2em;
}

.navbar .navlink {
    display: flex;
    align-items: center;
}

.navbar .navlink ul {
    display: flex;
    padding-right: 60px;
}

.navbar .navlink ul li {
    margin: 0 50px;
}

.active a {
    color: red;
}