* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(180, 176, 176);
    width: 100%;
    padding: 50px;
    align-items: center;
}

.navbar a {
    color: white;
}

.navbar .logo {
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 2em;
}

.navbar .navlink {
    display: flex;
    align-items: center;
}

.navbar .navlink ul {
    display: flex;
    padding-right: 60px;
}

.navbar .navlink ul li {
    padding: 0 50px;
}

.active a {
    color: red;
}

.menu {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 50px;
    display: none;
}

@media screen and (max-width: 1100px) {
    .navbar {
        height: 200px;
    }
    .navbar .navlink {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: -200px;
    }
    .navbar .navlink ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .navlink ul li {
        font-size: 1.5em;
        margin-top: 20px;
    }
    .navbar .menu {
        display: block;
    }
}